include umit umit-scheduler README
include COPYING COPYING_HIGWIDGETS COPYING_NMAP COPYING_WINPCAP
recursive-include share/pixmaps/umit *.png *.svg *.xpm umit.opf umit.opt
recursive-include share/icons/umit *.ico
recursive-include share/locale umit.mo *.po
recursive-include share/doc/umit *.html *.xml umit.1
recursive-include share/doc/umit/screenshots *.png
recursive-include share/umit/config *.xml *.conf *.usp umit_version *.db
recursive-include share/umit/misc *.dmp
recursive-include umitCore *.py
recursive-include umitGUI *.py
recursive-include umitInventory *.py
recursive-include umitDB *.py
recursive-include umitPlugin *.py
recursive-include umitInterfaceEditor *.py
recursive-include higwidgets *.py
