body,table{
	font-family: sans-serif;
	margin: 0 0 0 0;
	font-size: 8pt;
}

th{
	color: #FFFFFF;
	font-weight: bold;
	background-image: url("../images/bg_banner.jpg");
	vertical-align: bottom;
	font-size: 10pt;
}

input,select{
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	margin: 5px;
}

a{
	font-size: 8pt;
    color: #165829;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a img{
	border: 0;
}

#umit-menu {
    font-weight: bold;
    background-color: transparent;
    padding: 0em 0em 0em 2em;
    white-space: nowrap;
    list-style: none;
    margin: 0;
    height: auto;
    line-height: normal;
}

#umit-menu li {
    display: inline;
}

#umit-menu li a {
    /* The normal, unselected tabs. They are all links */
    background-color: #165829;
    border-color: #000000;
    border-width: 1px;
    border-style: solid solid none solid;
    color: white;
    height: auto;
    margin-right: 0.5em;
    padding: 0em 1.25em;
    text-decoration: none;
    text-transform: capitalize;
}

#umit-menu li.selected a {
    /* The selected tab. There's only one of this */
    border-color: #000000;
    background-color: transparent;
    border: 1px solid #000000;
    border-bottom: #FFFFFF 5px solid;
    color: #000000;
}

#umit-menu li a:hover {
    background-color: transparent;
    border-color: #000000;
    border-bottom-color: #000000;
    color: #000000;
}

#top-menu td.menu{
  background-image:url("../images/centre.jpg");
  background-repeat: repeat-x;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

#top-menu td.menu a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  vertical-align: bottom;
}

#top-menu td.menu a:hover{
 text-decoration: underline;
}

#content{
 position: absolute;
 top: 10px;
 width: 750px;
 left: 50%;
 margin-left: -375px;
}


#top{
 background-image:url("../images/banner_bg.png");
 background-repeat: no-repeat;
 font-family: arial, helvetica, sans-serif;
 color: #FFF;
 font-weight: bold;
 width: 98%;
 height: 50px;
 padding-top: 45px;
 padding-left: 12px;
 padding-right: 18px;
 padding-right: 12px;
 margin-bottom: 10px;
}

#body{
 width: 718px;
 padding: 5px;
 padding-left: 12px;
 padding-right:12px;
 top:0
}

#image-menu{
 list-style:none;
 margin: 0;
 margin-right: 6px;
 padding: 1px;
}

#image-menu li{
 display: inline;
}

#image-menu li a img{
	 border: 0;
	 border-color: none;
}

#hosts ul{
 list-style: none;
 margin: 0;
 padding: 0;
}

#hosts ul li a{
 vertical-align: middle;
}

#hosts ul li.selected a{
 color: #000;
 font-weight: bold;
}

.float-left{
 float: left;
}

.float-right{
 float: right;
}

.caged{
 border-style: solid;
 border-color:black;
 border-width: 1px;
 padding: 6px;
}

/*titulo da 'gaiola'*/
.caged h3{
 font-family: arial helvetica sans-serif;
 color: #165829;
 font-weight: bold;
 font-size: 10pt;
 margin-top: -5px;
 margin-left: -3px;
 border-bottom-color:#000;
 border-bottom-width: 3px;
 border-bottom-style: solid;
}

.g_caged{
 border-style: solid;
 border-color:#165829;
 border-width: 3px;
}
